@primary-color: #bd1cff;
@secondary-color: #2eb8ff;
@primary-color-shade: darken(@primary-color, 47%);
@background-color: #333;
@success-color: #6dc44a;
@info-color: #02b1f7;
@default-color: #bbbbbb;
@danger-color: #d75a4a;
@error-color: @danger-color;
@warning-color: #ead831;

@skeleton-text: #eee3;

@degree: 120deg;
@grad-perc: -100%;
@header-opacity: 0.8;
@border-width: 3px;
