@primary-color: #4F79E6;
@secondary-color: #FDC6E8;
@primary-color-shade: lighten(@primary-color, 47%);
@success-color: #6DC44A;
@info-color: #02B1F7;
@default-color: #bbbbbb;
@warning-color: #EAD831;
@danger-color: #FF8486;
@text-color-light: lightslategrey;