@import "~styles/variables.less";

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background: conic-gradient(
    from -90deg at 25% 115%,
    #ff0000,
    #ff0066,
    #ff00cc,
    #cc00ff,
    #6600ff,
    #0000ff,
    #0000ff,
    #0000ff,
    #0000ff
  );

  .body-content {
    z-index: 1;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .awesome-intro {
      font-size: 45px;
      text-shadow: 10px 10px @primary-color;
      :hover {
        margin-left: 5px;
        text-shadow: 5px 5px @secondary-color;
        cursor: pointer;
      }

      @media screen and (max-width: 800px) {
        font-size: 40px;
      }
      @media screen and (max-width: 640px) {
        font-size: 35px;
        text-shadow: 5px 5px @primary-color;
      }
      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
      @media screen and (max-width: 500px) {
        font-size: 25px;
      }
      @media screen and (max-width: 380px) {
        font-size: 20px;
      }
      @media screen and (max-width: 310px) {
        font-size: 15px;
      }
    }

    .about-socials {
      margin-top: 50px;
    }
    .button-control {
      display: flex;
      justify-content: center;
    }
  }

  .main-graph {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 300px;
    bottom: 0;

    .graph {
      width: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0px,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.5) 3px,
          rgba(0, 0, 0, 0) 0px
        ),
        linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0px,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.5) 3px,
          rgba(0, 0, 0, 0) 0px
        );
      background-size: 4em 2em, 4em 2em;
      background-color: @primary-color;
      background-repeat: repeat;
      background-position: 0 0;
      height: 30em;
      perspective: 1000px !important;
      margin-top: 0em;
      transform: perspective(200px) rotateX(45deg) scale(2);
      bottom: 0px;

      &.animation {
        animation: animatedBackground 500s linear infinite;
        @keyframes animatedBackground {
          from {
            background-position: 0 0;
          }

          to {
            background-position: 10000px 0;
          }
        }
      }
    }
  }
}
